<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>


<ion-row>


  <ion-col>
     ion-col-1
  </ion-col>

  <ion-col>
    ion-col-2
 </ion-col>

 <ion-col>
  <ion-button>My Button
  </ion-button>
</ion-col>

<ion-col>
  ion-col-4
</ion-col>
</ion-row>

<ion-row>

  <ion-col size="6">

    <ion-img [src]="item.src"></ion-img>
  </ion-col>

  <ion-col>

    <ion-text color="secondary">
      
      <h1>  Log In  </h1>


    
    </ion-text>
  </ion-col>

  <p> aksdjflkajsflkjasdflkjasdlkfjalksdjf
    aksdjflkajsflkjasdflkjasdlkfjalksdjflajslkfjasd
      <ion-text color="danger">  Streets</ion-text>
      <ion-icon name="star"></ion-icon>

  </p>

  <ion-col>

    col
  </ion-col>


</ion-row>

<ion-row>

  <ion-col size="3">

    size 3
  </ion-col>
  <ion-col> Col </ion-col>
  <ion-col size="3"> size 3</ion-col>

</ion-row>




</ion-grid>
  



</ion-content>